*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: rgb(112, 110, 11);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.caltulator{
    width: 400px;
    height: 610px;
    border-radius: 30px;
    background-color: black;
}
.div1{
    width: 100%;
    height: 100px;
    /* background-color: rgb(203, 167, 167); */
}
#input{
    width: 97.5%;
    height: 100px;
    font-size: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 20px 20px;
    /* border-bottom: 1px solid white; */
    background-color: rgb(16, 15, 15);
    color: white;
    /* border-radius: 30px 30px 0px 0px; */
}
.div2{
    width: 100%;
    height: 100%;
}
.box1{
    width: 100%;
    height: 100px;
}
.btn{
    background-color: rgb(48, 48, 46);
    width: 20%;
    height: 80px;
    margin: 8px;
    border-radius: 50px;
    font-size: 25px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
#gray-color{
    background-color: rgb(155, 150, 150);
}
#gray-color:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
#btn-color{
    background-color: rgb(223, 72, 17);
}
#btn-color:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}